@*@{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@

@{
    ViewBag.Title = "Admin Login";
}

<center><h2>Admin Login</h2></center>

<p><br /></p>
<p class="">Enter your username and password to login.</p>
<p><br /></p>
<form action='' method='post'>
    <label><strong><p class="">Username:</p></strong> <input type='text' name='username' required></label><br /><br />
    <label><strong><p class="">Password:</p></strong> <input type='password' name='password' required></label><br /><br />
    <input class="" type='submit' value='Login'>&nbsp;&nbsp;<input class="" type='reset' value='Clear'>
    <p><br /></p><p><br /></p>

</form>
<br /><br />